{{- if eq .K8sSetup "Openshift" }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .OpenshiftServiceAccount }}
  namespace: {{ .Namespace }}
---
allowHostDirVolumePlugin: true
allowPrivilegeEscalation: true
allowPrivilegedContainer: true
allowedCapabilities:
- '*'
apiVersion: security.openshift.io/v1
fsGroup:
  type: RunAsAny
groups:
- system:cluster-admins
- system:nodes
- system:masters
kind: SecurityContextConstraints
metadata:
  name: xebialabs-privileged
runAsUser:
  type: RunAsAny
seLinuxContext:
  type: RunAsAny
seccompProfiles:
- '*'
supplementalGroups:
  type: RunAsAny
users:
- system:serviceaccount:{{ .Namespace }}:{{ .OpenshiftServiceAccount }}
{{- if .MonitoringInstall }}
- system:serviceaccount:{{ .Namespace }}:elasticsearch-logging
- system:serviceaccount:{{ .Namespace }}:fluentd-es
{{- end }}
volumes:
- '*'
{{- if or (not .UseExternalIngress) (.MonitoringInstall) }}
---
allowPrivilegeEscalation: true
apiVersion: security.openshift.io/v1
fsGroup:
  type: RunAsAny
groups:
- system:cluster-admins
kind: SecurityContextConstraints
metadata:
  name: xebialabs-anyuid
priority: 10
requiredDropCapabilities:
- MKNOD
runAsUser:
  type: RunAsAny
seLinuxContext:
  type: MustRunAs
supplementalGroups:
  type: RunAsAny
users:
{{- if not .UseExternalIngress }}
- system:serviceaccount:{{ .Namespace }}:haproxy-ingress-serviceaccount
{{- end }}
{{- if .MonitoringInstall }}
- system:serviceaccount:{{ .Namespace }}:grafana
- system:serviceaccount:{{ .Namespace }}:prometheus
{{- end }}
volumes:
- configMap
- downwardAPI
- emptyDir
- persistentVolumeClaim
- projected
- secret
{{- end }}
{{- if (not .UseExistingStorageClasses) }}
---
allowHostDirVolumePlugin: true
allowPrivilegeEscalation: true
apiVersion: security.openshift.io/v1
fsGroup:
  type: RunAsAny
groups: []
kind: SecurityContextConstraints
metadata:
  name: xebialabs-hostmount-anyuid
requiredDropCapabilities:
- MKNOD
runAsUser:
  type: RunAsAny
seLinuxContext:
  type: MustRunAs
supplementalGroups:
  type: RunAsAny
users:
- system:serviceaccount:{{ .Namespace }}:xebialabs-nfs-client-provisioner
volumes:
- configMap
- downwardAPI
- emptyDir
- hostPath
- nfs
- persistentVolumeClaim
- projected
- secret
{{- end}}
{{- end }}
